pkgbase = pdf2laser
	pkgdesc = Tool for printing PDF to an Epilog laser cutter over the network
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/zellio/pdf2laser
	arch = x86_64
	license = GPL3
	depends = ghostscript
	source = https://github.com/zellio/pdf2laser/archive/v0.5.1.tar.gz
	sha256sums = 7433c89720775a2c787b368c89abfb566c46a88e055cece07df2943cf1c7df03

pkgname = pdf2laser

